In [89]:
import pandas as pd 
import numpy as np

In [90]:
df = pd.read_csv('data_cleaning_challenge.csv')

In [91]:
df.head(20)
df.drop(columns=['Unnamed: 9', 'Unnamed: 10'], inplace=True)

In [92]:
start_indices = df[df['Row Type'].str.contains('first name', na=False)].index.tolist()
print("Start indices for each person:", start_indices)

Start indices for each person: [0, 14, 28, 42, 56, 68, 80, 92, 104, 116, 128, 140, 152, 164, 177, 189, 201, 213, 228, 243, 256, 269, 282, 294, 308, 322, 337, 352, 365, 378, 391, 404, 417, 430, 444, 459, 473, 487, 501, 515, 529, 543, 553, 565, 575, 585, 595, 607, 620, 634, 647, 660, 675, 688, 701, 714, 727, 741, 753, 765, 777, 789, 803, 817, 829, 841, 853, 867, 881, 893, 905, 917, 933, 948, 963, 979, 995, 1007, 1019, 1031, 1043, 1057, 1070, 1082, 1094, 1106, 1118, 1130, 1142, 1154, 1166, 1180, 1195, 1209, 1223, 1237, 1251, 1268, 1282, 1296, 1308, 1320, 1332, 1344, 1358, 1372, 1384, 1396, 1408, 1420, 1432, 1446, 1458, 1469, 1481, 1493, 1505, 1517, 1529, 1541, 1553, 1567, 1581, 1595, 1609, 1621, 1634, 1647, 1658, 1669, 1680, 1693, 1708, 1723, 1738, 1754, 1768, 1780, 1792, 1804, 1816, 1828, 1840, 1852, 1864, 1878, 1892, 1906, 1921, 1936, 1949, 1962, 1975, 1989, 2001, 2013, 2026, 2038, 2050, 2061, 2075, 2088, 2100, 2112, 2124, 2139, 2151, 2163, 2175, 2189, 2201, 2213, 2225, 2237, 2248, 2259, 2270, 2281, 2295, 2309, 2323, 2337, 2351, 2363, 2378, 2390, 2404, 2416, 2428, 2443, 2455, 2468, 2480, 2494, 2506, 2518, 2530, 2542, 2553, 2565, 2577, 2589, 2603, 2617, 2629, 2643, 2657, 2671, 2683, 2695, 2707, 2719, 2733, 2745, 2759, 2774, 2787, 2800, 2814, 2826, 2838, 2850, 2862, 2874, 2886, 2900, 2912, 2924, 2936, 2948, 2962, 2976, 2988, 3000, 3012, 3026, 3038, 3050, 3062, 3074, 3088, 3102, 3116, 3130, 3144, 3158, 3172, 3186, 3200, 3214, 3228, 3242, 3256, 3268, 3280, 3292, 3304, 3316, 3328, 3342, 3356, 3370, 3382, 3396, 3408, 3421, 3433, 3445, 3457, 3470, 3484, 3498, 3512, 3527, 3541, 3554, 3568, 3581, 3592, 3603, 3615, 3629, 3641, 3653, 3666, 3681, 3695, 3709, 3722, 3734, 3746, 3758, 3769, 3780, 3791, 3802, 3816, 3830, 3842, 3854, 3865, 3876, 3890, 3904, 3916, 3928, 3939, 3950, 3964, 3978, 3990, 4002, 4013, 4024, 4038, 4052, 4064, 4076, 4086, 4098, 4110, 4125, 4140, 4153, 4167, 4181, 4195, 4208, 4220, 4231, 4246, 4258, 4271, 4284, 4298, 4312, 4326, 4340, 4353, 4367, 4379, 4391, 4402, 4417, 4432, 4447, 4462, 4477, 4491, 4503, 4514, 4528, 4542, 4554, 4566, 4577, 4588, 4602, 4616, 4628, 4640, 4651, 4662, 4676, 4690, 4702, 4714, 4725, 4736, 4750, 4764, 4776, 4788, 4799, 4810, 4824, 4838, 4850, 4862, 4873, 4884, 4898, 4912, 4924, 4936, 4948, 4960, 4974, 4989, 5002, 5015, 5026, 5037, 5051, 5065, 5077, 5089, 5100, 5111, 5125, 5139, 5151, 5163, 5174, 5184, 5195, 5209, 5223, 5235, 5247, 5258, 5269, 5283, 5296, 5308, 5320, 5331, 5345, 5356, 5368, 5379, 5393, 5407, 5420, 5432, 5444, 5456, 5470, 5484, 5496, 5508, 5519, 5530, 5544, 5558, 5572, 5586, 5600, 5614, 5628, 5641, 5653, 5664, 5676, 5689, 5703, 5717, 5728, 5743, 5757, 5769, 5783, 5795, 5806, 5817, 5831, 5845, 5859, 5873, 5887, 5901, 5915, 5927, 5939, 5950, 5961, 5976, 5990, 6002, 6014, 6025, 6036, 6050, 6064, 6076, 6088, 6099, 6110, 6124, 6136, 6147, 6162, 6176, 6188, 6200, 6211, 6222, 6236, 6250, 6264, 6276, 6288, 6300, 6312, 6326, 6338, 6351, 6364, 6377, 6390, 6405, 6419, 6434, 6449, 6462, 6477, 6491, 6503, 6515, 6527, 6539, 6551, 6561, 6573, 6585, 6596, 6608, 6620, 6634, 6647, 6659, 6671, 6683, 6695, 6707, 6719, 6731, 6743, 6755, 6767, 6779, 6791, 6803, 6815, 6827, 6837, 6847, 6860, 6874, 6888, 6903, 6915, 6927, 6939, 6951, 6961, 6975, 6989, 7003, 7016, 7030, 7042, 7054, 7068, 7082, 7096, 7110, 7124, 7138, 7152, 7164, 7176, 7188, 7200, 7212, 7224, 7236, 7248, 7260, 7272, 7284, 7298, 7310, 7322, 7336, 7350, 7363, 7375, 7389, 7403, 7417, 7431, 7445, 7459, 7473, 7487, 7501, 7515, 7527, 7539, 7551, 7563, 7575, 7586, 7597, 7609, 7621, 7632, 7644, 7656, 7668, 7680, 7692, 7704, 7718, 7732, 7747, 7759, 7771, 7783, 7795, 7807, 7819, 7831, 7843, 7855, 7867, 7881, 7895, 7909, 7923, 7935, 7947, 7959, 7971, 7985, 7999, 8013, 8027, 8041, 8055, 8070, 8084, 8098, 8113, 8125, 8137, 8149, 8161, 8175, 8189, 8203, 8215, 8227, 8239, 8253, 8265, 8279, 8293, 8307, 8319, 8334, 8346, 8360, 8372, 8387, 8399, 8411, 8423, 8435, 8449, 8463, 8477, 8491, 8502, 8514, 8526, 8538, 8550, 8562, 8574, 8586, 8598, 8612, 8626, 8640, 8654, 8669, 8683, 8697, 8711, 8723, 8735, 8747, 8759, 8771, 8783, 8795, 8807, 8819, 8831, 8843, 8855, 8867, 8879, 8891, 8906, 8921, 8936, 8951, 8963, 8975, 8987, 8999, 9011, 9023, 9035, 9047, 9059, 9069, 9082, 9096, 9109, 9121, 9133, 9145, 9157, 9169, 9181, 9193, 9205, 9217, 9229, 9241, 9253, 9265, 9277, 9289, 9304, 9318, 9332, 9346, 9357, 9368, 9379, 9390, 9404, 9418, 9430, 9442, 9456, 9470, 9485, 9500, 9513, 9526, 9539, 9554, 9567, 9578, 9589, 9604, 9619, 9633, 9647, 9661, 9675, 9690, 9705, 9719, 9733, 9747, 9761, 9773, 9785, 9797, 9807, 9819, 9831, 9843, 9854, 9865, 9876, 9887, 9901, 9915, 9927, 9939, 9951, 9963, 9976, 9988, 10000, 10010, 10022, 10036, 10050, 10064, 10078, 10092, 10106, 10117, 10128, 10139, 10150, 10163, 10176, 10189, 10202, 10214, 10228, 10240, 10254, 10268, 10280, 10294, 10308, 10320, 10334, 10348, 10362, 10376, 10388, 10400, 10412, 10424, 10436, 10448, 10460, 10470, 10482, 10494, 10506, 10518, 10530, 10545, 10559, 10571, 10583, 10596, 10610, 10624, 10636, 10648, 10663, 10677, 10691, 10705, 10720, 10735, 10750, 10764, 10776, 10788, 10800, 10815, 10828, 10839, 10850, 10864, 10878, 10892, 10906, 10917, 10928, 10939, 10950, 10963, 10976, 10989, 11002, 11014, 11026, 11038, 11050, 11062, 11076, 11088, 11100, 11112, 11124, 11136, 11148, 11160, 11175, 11190, 11205, 11220, 11235, 11250, 11265, 11280, 11291, 11302, 11313, 11324, 11337, 11347, 11357, 11367, 11377, 11388, 11399, 11411, 11422, 11440, 11454, 11468, 11482, 11496, 11510, 11521, 11533, 11544, 11555, 11565, 11575, 11585, 11597, 11609, 11621, 11640, 11654, 11668, 11682, 11697, 11711, 11724, 11738, 11752, 11766, 11780, 11794, 11805, 11816, 11827, 11838, 11849, 11860, 11874, 11886, 11898, 11910, 11935, 11960, 11985, 11999, 12013, 12027, 12041, 12054, 12067, 12080, 12092, 12104, 12116, 12130, 12149, 12166, 12181, 12198, 12217, 12228, 12239, 12249, 12260, 12270, 12280, 12290, 12300, 12310, 12321, 12331, 12343, 12354, 12364, 12374, 12384, 12394, 12406, 12418, 12430, 12454, 12466, 12480, 12494, 12508, 12520, 12535, 12549, 12563, 12577, 12591, 12615, 12640, 12657, 12674, 12688, 12702, 12716, 12730, 12744, 12758, 12772, 12786, 12800, 12812, 12824, 12835, 12850, 12864, 12876, 12888, 12900, 12914, 12927, 12939, 12950, 12960, 12973, 12986, 12999, 13012, 13026, 13040, 13054, 13068, 13082, 13096, 13110, 13124, 13138, 13150, 13162, 13174, 13185, 13200, 13213, 13224, 13235, 13246, 13260, 13272, 13286, 13300, 13314, 13329, 13343, 13354, 13365, 13376, 13387, 13398, 13409, 13423, 13437, 13451, 13464, 13475, 13487, 13499, 13511, 13523, 13536, 13549, 13561, 13573, 13585, 13597, 13609, 13621, 13633, 13645, 13660, 13673, 13684, 13695, 13706, 13720, 13734, 13748, 13762, 13776, 13790, 13802, 13814, 13828, 13841, 13852, 13863, 13874, 13889, 13902, 13913, 13924, 13935, 13946, 13960, 13974, 13986, 13998, 14012, 14027, 14043, 14058, 14070, 14085, 14099, 14114, 14128, 14142, 14156, 14170, 14184, 14198, 14211, 14224, 14237, 14248, 14259, 14270, 14282, 14294, 14306, 14318, 14332, 14346, 14360, 14374, 14388, 14400, 14412, 14426, 14439, 14451, 14462, 14472, 14485, 14497, 14509, 14523, 14533, 14543, 14554, 14564, 14576, 14588, 14600, 14612, 14627, 14640, 14651, 14662, 14673, 14688, 14701, 14714, 14727, 14741, 14753, 14765, 14777, 14789, 14801, 14813, 14825, 14837, 14849, 14861, 14873, 14888, 14901, 14915, 14929, 14940, 14954, 14965, 14979, 14993, 15004, 15019, 15034, 15047, 15060, 15073, 15084, 15095, 15108, 15122, 15134, 15148, 15161, 15173, 15184, 15194, 15205, 15217, 15232, 15245, 15256, 15267, 15279, 15291, 15302, 15313, 15324, 15339, 15354, 15369, 15384, 15399, 15413, 15425, 15439, 15452, 15466, 15478, 15490, 15501, 15512, 15526, 15539, 15551, 15562, 15572, 15587, 15602, 15615, 15628, 15641, 15652, 15663, 15674, 15688, 15702, 15716, 15729, 15743, 15757, 15769, 15781, 15791, 15805, 15819, 15833, 15847, 15861, 15873, 15885, 15899, 15913, 15927, 15941, 15955, 15969, 15983, 15996, 16008, 16019, 16029, 16043, 16055, 16069, 16082, 16094, 16105, 16115, 16129, 16141, 16155, 16168, 16180, 16191, 16201, 16212, 16223, 16234, 16244, 16254, 16264, 16275, 16286, 16298, 16309, 16319, 16329, 16342, 16354, 16366, 16378, 16390, 16401, 16412, 16423, 16434, 16445, 16456, 16467, 16478, 16492, 16506, 16520, 16534, 16548, 16560, 16574, 16586, 16598, 16609, 16619, 16630, 16640, 16651, 16661, 16671, 16681, 16691, 16701, 16716, 16731, 16746, 16761, 16775, 16789, 16803, 16817, 16831, 16843, 16857, 16868, 16882, 16893, 16905, 16916, 16928, 16939, 16949, 16960, 16972, 16984, 16998, 17013, 17027, 17041, 17055, 17070, 17080, 17094, 17106, 17120, 17134, 17146, 17159, 17173, 17187, 17201, 17215, 17235, 17249, 17263, 17278, 17291, 17306, 17318, 17330, 17341, 17354, 17364, 17375, 17389, 17401, 17415, 17426, 17438, 17449, 17459, 17470, 17484, 17495, 17509, 17520, 17534, 17545, 17559, 17570, 17584, 17595, 17608, 17621, 17631, 17641, 17655, 17669, 17683, 17697, 17711, 17725, 17737, 17747, 17761, 17773, 17783, 17797, 17811, 17825, 17839, 17853, 17867, 17882, 17897, 17910, 17923, 17934, 17947, 17961, 17976, 17990, 18003, 18015, 18026, 18036, 18051, 18064, 18075, 18089, 18103, 18115, 18127, 18137, 18151, 18165, 18177, 18187, 18199, 18211, 18223, 18235, 18251, 18266, 18281, 18294, 18305, 18326, 18343, 18356, 18373, 18390, 18403, 18416, 18428, 18439, 18449, 18466, 18481, 18494, 18509, 18522, 18533, 18544, 18555, 18566, 18577, 18589, 18603, 18618, 18630, 18641, 18651, 18661, 18671, 18681, 18691, 18701, 18711, 18725, 18738, 18750, 18761, 18771, 18783, 18797, 18809, 18821, 18835, 18849, 18864, 18878, 18892, 18906, 18921, 18934, 18947, 18960, 18973, 18985, 18997, 19009, 19021, 19033, 19045, 19057, 19069, 19081, 19093, 19105, 19117, 19129, 19143, 19156, 19168, 19179, 19189, 19203, 19217, 19230, 19242, 19255, 19267, 19279, 19291, 19303, 19313, 19323, 19333, 19349, 19363, 19377, 19389, 19401, 19411, 19425, 19437, 19447, 19460, 19475, 19487, 19499, 19510, 19521, 19532, 19543, 19554, 19564, 19580, 19592, 19604, 19615, 19628, 19639, 19651, 19661, 19673, 19685, 19697, 19708, 19720, 19734, 19746, 19760, 19772, 19784, 19796, 19808, 19820, 19837, 19852, 19866, 19886, 19906, 19926, 19940, 19955, 19968, 19980, 19993, 20008, 20019, 20029, 20048, 20062, 20076, 20088, 20101, 20111, 20123, 20134, 20144, 20158, 20173, 20186, 20198, 20209, 20220, 20231, 20241, 20252, 20263, 20274, 20286, 20296, 20307, 20319, 20332, 20343, 20353, 20365, 20379, 20394, 20408, 20422, 20436, 20450, 20464, 20478, 20493, 20507, 20519, 20529, 20541, 20553, 20565, 20577, 20590, 20602, 20615, 20628, 20642, 20656, 20670, 20684, 20698, 20710, 20722, 20734, 20748, 20762, 20776, 20790, 20800, 20811, 20823, 20835, 20847, 20857, 20867, 20879, 20891, 20903, 20915, 20926, 20938, 20949, 20961, 20972, 20984, 20999, 21011, 21026, 21037, 21049, 21064, 21075, 21087, 21098, 21113, 21125, 21135, 21146, 21158, 21169, 21181, 21192, 21204, 21215, 21225, 21236, 21246, 21256, 21267, 21279, 21292, 21304, 21317, 21331, 21346, 21358, 21372, 21385, 21399, 21411, 21423, 21433, 21447, 21461, 21476, 21489, 21501, 21513, 21525, 21539, 21551, 21566, 21578, 21593, 21603, 21618, 21633, 21647, 21661, 21675, 21688, 21701, 21714, 21728, 21740, 21752, 21764, 21776, 21788, 21800, 21812, 21826, 21840, 21854, 21868, 21880, 21892, 21904, 21916, 21927, 21938, 21949, 21960, 21974, 21987, 21999, 22011, 22025, 22037, 22049, 22059, 22073, 22086, 22098, 22110, 22124, 22136, 22150, 22162, 22174, 22184, 22196, 22208, 22219, 22231, 22242, 22254, 22265, 22277, 22289, 22301, 22313, 22327, 22339, 22351, 22361, 22375, 22389, 22403, 22417, 22430, 22442, 22454, 22464, 22476, 22487, 22499, 22510, 22522, 22533, 22545, 22556, 22569, 22582, 22596, 22609, 22621, 22631, 22645, 22657, 22669, 22681, 22693, 22705, 22717, 22729, 22741, 22753, 22765, 22777, 22789, 22801, 22813, 22825, 22837, 22849, 22861, 22880, 22898, 22915, 22932, 22947, 22962, 22975, 22987, 22999, 23011, 23023, 23035, 23047, 23059, 23071, 23083, 23093, 23105, 23116, 23128, 23139, 23151, 23161, 23175, 23186, 23197, 23211, 23223, 23237, 23249, 23263, 23275, 23289, 23303, 23317, 23331, 23345, 23359, 23372, 23386, 23400, 23414, 23428, 23441, 23452, 23466, 23480, 23494, 23508, 23522, 23536, 23550, 23564, 23578, 23592, 23606, 23620, 23632, 23644, 23656, 23666, 23676, 23688, 23698, 23712, 23725, 23738, 23751, 23764, 23776, 23788, 23802, 23814, 23826, 23839, 23852, 23866, 23879, 23894, 23906, 23918, 23929, 23943, 23957, 23971, 23985, 23999, 24013, 24027, 24041, 24051, 24061, 24071, 24081, 24091, 24101, 24111, 24121, 24135, 24147, 24161, 24175, 24190, 24201, 24215, 24229, 24243, 24255, 24266, 24277, 24292, 24304, 24318, 24332, 24346, 24360, 24374, 24385, 24399, 24414, 24428, 24442, 24456, 24471, 24485, 24499, 24512, 24527, 24539, 24551, 24565, 24577, 24589, 24603, 24617, 24631, 24642, 24656, 24671, 24683, 24698, 24710, 24722, 24736, 24748, 24762, 24776, 24790, 24804, 24818, 24832, 24846, 24860, 24874, 24888, 24902, 24914, 24926, 24938, 24952, 24964, 24976, 24988, 25000, 25014, 25026, 25038, 25050, 25062, 25076, 25088, 25100, 25112, 25124, 25138, 25150, 25162, 25174, 25186, 25200, 25214, 25228, 25240, 25252, 25264, 25278, 25290, 25302, 25312, 25327, 25341, 25355, 25368, 25381, 25391, 25401, 25413, 25425, 25437, 25449, 25461, 25476, 25490, 25504, 25516, 25528, 25540, 25552, 25565, 25579, 25591, 25603, 25615, 25627, 25639, 25651, 25665, 25677, 25689, 25701, 25713, 25727, 25739, 25751, 25763, 25774, 25786, 25798, 25810, 25822, 25836, 25850, 25864, 25878, 25892, 25904, 25916, 25928, 25940, 25959, 25976, 25991, 26004, 26019, 26032, 26045, 26058, 26071, 26085, 26097, 26109, 26121, 26133, 26147, 26161, 26173, 26185, 26195, 26209, 26223, 26237, 26248, 26260, 26272, 26284, 26296, 26308, 26322, 26334, 26346, 26360, 26372, 26384, 26396, 26408, 26423, 26435, 26447, 26459, 26473, 26485, 26499, 26511, 26523, 26535, 26547, 26559, 26571, 26585, 26597, 26609, 26621, 26633, 26647, 26659, 26671, 26683, 26695, 26707, 26719, 26733, 26747, 26759, 26772, 26784, 26796, 26810, 26822, 26834, 26846, 26860, 26872, 26885, 26897, 26909, 26921, 26933, 26945, 26959, 26971, 26985, 26997, 27009, 27021, 27035, 27049, 27061, 27073, 27085, 27095, 27107, 27119, 27133, 27145, 27157, 27169, 27183, 27195, 27207, 27219, 27231, 27243, 27255, 27267, 27279, 27293, 27307, 27319, 27331, 27341, 27353, 27365, 27376, 27390, 27404, 27418, 27430, 27442, 27456, 27470, 27482, 27494, 27505, 27517, 27529, 27541, 27553, 27567, 27579, 27591, 27603, 27615, 27629, 27641, 27653, 27665, 27677, 27689, 27701, 27713, 27725, 27737, 27749, 27761, 27773, 27787, 27799, 27811, 27823, 27835, 27847, 27859, 27871, 27883, 27898, 27912, 27924, 27936, 27947, 27960, 27972, 27986, 27998, 28010, 28022, 28034, 28048, 28060, 28072, 28084, 28096, 28109, 28121, 28132, 28144, 28156, 28168, 28180, 28191, 28205, 28217, 28229, 28241, 28255, 28267, 28278, 28290, 28304, 28318, 28330, 28342, 28354, 28368, 28379, 28389, 28403, 28415, 28427, 28439, 28451, 28463, 28475, 28487, 28499, 28511, 28523, 28537, 28551, 28562, 28573, 28584, 28595, 28609, 28622, 28634, 28646, 28657, 28671, 28685, 28697, 28711, 28726, 28738, 28757, 28769, 28781, 28800, 28813, 28826, 28845, 28856, 28868, 28880, 28892, 28904, 28923, 28942, 28961, 28980, 28994, 29018, 29041, 29064, 29078, 29090, 29102, 29114, 29126, 29140, 29154, 29168, 29182, 29196, 29210, 29224, 29238, 29252, 29266, 29280, 29292, 29304, 29316, 29328, 29340, 29352, 29364, 29376, 29388, 29400, 29412, 29424, 29436, 29448, 29460, 29472, 29484, 29496, 29508, 29522, 29536, 29550, 29564, 29578, 29592, 29604, 29616, 29628, 29642, 29654, 29665, 29677, 29689, 29701, 29713, 29725, 29737, 29751, 29763, 29775, 29787, 29799, 29811, 29823, 29838, 29851, 29863, 29875, 29886, 29901, 29915, 29929, 29941, 29955, 29967, 29981, 29996, 30008, 30019, 30030, 30041, 30055, 30067, 30079, 30091, 30103, 30115, 30127, 30139, 30151, 30165, 30177, 30189, 30201, 30215, 30227, 30239, 30251, 30263, 30277, 30289, 30301, 30313, 30325, 30339, 30353, 30367, 30381, 30393, 30405, 30420, 30432, 30444, 30456, 30468, 30480, 30492, 30504, 30518, 30532, 30546, 30558, 30570, 30582, 30594, 30606, 30620, 30632, 30644, 30656, 30668, 30682, 30694, 30706, 30718, 30730, 30744, 30756, 30768, 30780, 30794, 30808, 30822, 30834, 30846, 30858, 30870, 30882, 30894, 30906, 30918, 30930, 30942, 30954, 30966, 30978, 30990, 31002, 31014, 31028, 31040, 31052, 31064, 31076, 31090, 31104, 31118, 31132, 31144, 31156, 31168, 31180, 31192, 31204, 31216, 31228, 31242, 31256, 31270, 31282, 31294, 31306, 31318, 31330, 31342, 31354, 31366, 31378, 31390, 31402, 31414, 31426, 31438, 31450, 31462, 31474, 31486, 31498, 31513, 31525, 31537, 31549, 31561, 31575, 31587, 31599, 31611, 31623, 31635, 31647, 31659, 31671, 31685, 31699, 31713, 31724, 31736, 31748, 31760, 31772, 31784, 31796, 31808, 31822, 31834, 31846, 31858, 31870, 31881, 31891, 31901, 31915, 31927, 31939, 31951, 31963, 31977, 31991, 32003, 32015, 32027, 32041, 32053, 32065, 32077, 32089, 32103, 32115, 32127, 32139, 32151, 32163, 32175, 32187, 32199, 32211, 32223, 32235, 32247, 32259, 32271, 32283, 32295, 32307, 32319, 32331, 32345, 32357, 32369, 32381, 32393, 32405, 32417, 32429, 32441, 32453, 32467, 32481, 32493, 32505, 32517, 32529, 32541, 32553, 32565, 32577, 32589, 32601, 32613, 32625, 32637, 32649, 32661, 32673, 32685, 32697, 32709, 32721, 32733, 32747, 32761, 32773, 32787, 32799, 32811, 32823, 32835, 32847, 32859, 32871, 32883, 32895, 32907, 32919, 32931, 32943, 32955, 32967, 32979, 32991, 33003, 33017, 33029, 33041, 33053, 33065, 33077, 33089, 33101, 33113, 33127, 33139, 33151, 33163, 33175, 33187, 33199, 33211, 33223, 33237, 33250, 33262, 33274, 33286, 33298, 33310, 33322, 33334, 33348, 33360, 33372, 33384, 33398, 33412, 33426, 33438, 33450, 33462, 33474, 33486, 33498, 33510, 33524, 33538, 33550, 33562, 33574, 33586, 33598, 33610, 33622, 33632, 33644, 33656, 33667, 33678, 33690, 33704, 33716, 33728, 33740, 33752, 33766, 33780, 33795, 33807, 33819, 33831, 33842, 33853, 33864, 33874, 33885, 33899, 33913, 33925, 33939, 33951, 33963, 33975, 33987, 33998, 34010, 34021, 34033, 34045, 34055, 34067, 34079, 34091, 34103, 34117, 34129, 34141, 34153, 34165, 34177, 34188, 34199, 34210, 34220, 34231, 34242, 34254, 34266, 34278, 34290, 34301, 34312, 34326, 34338, 34350, 34362, 34374, 34385, 34396, 34407, 34418, 34432, 34446, 34460, 34472, 34483, 34495, 34506, 34518, 34529, 34541, 34553, 34565, 34577, 34589, 34601, 34613, 34625, 34637, 34648, 34659, 34670, 34682, 34693, 34704, 34715, 34725, 34735, 34747, 34759, 34771, 34783, 34795, 34807, 34819, 34832, 34844, 34856, 34868, 34880, 34892, 34904, 34918, 34932, 34946, 34960, 34974, 34988, 35002, 35016, 35029, 35041, 35052, 35063, 35074, 35085, 35097, 35108, 35119, 35130, 35141, 35153, 35165, 35177, 35189, 35201, 35213, 35230, 35244, 35258, 35272, 35286, 35300, 35314, 35328, 35340, 35351, 35362, 35373, 35384, 35398, 35410, 35422, 35434, 35448, 35460, 35472, 35482, 35492, 35503, 35513, 35523, 35533, 35544, 35554, 35564, 35575, 35585, 35596, 35611, 35623, 35636, 35648, 35661, 35673, 35685, 35697, 35711, 35723, 35733, 35743, 35753, 35763, 35773, 35783, 35793, 35803, 35813, 35823, 35833, 35843, 35853, 35863, 35873, 35883, 35893, 35903, 35913, 35923, 35935, 35948, 35961, 35974, 35986, 35996, 36006, 36016, 36026, 36036, 36046, 36056, 36066, 36076, 36087, 36101, 36113, 36124, 36136, 36146, 36156, 36171, 36181, 36191, 36201, 36216, 36226, 36236, 36246, 36256, 36272, 36286, 36297, 36308, 36322, 36335, 36348, 36360, 36370, 36380, 36390, 36400, 36414, 36424, 36438, 36448, 36458, 36471, 36481, 36492, 36504, 36518, 36529, 36542, 36554, 36566, 36578, 36591, 36603, 36613, 36623, 36633, 36643, 36653, 36663, 36673, 36683, 36694, 36705, 36719, 36732, 36744, 36756, 36770, 36784, 36798, 36808, 36818, 36828, 36838, 36848, 36858, 36868, 36878, 36888, 36898, 36908, 36922, 36935, 36947, 36958, 36970, 36982, 36992, 37002, 37012, 37022, 37032, 37042, 37052, 37062, 37072, 37082, 37096, 37110, 37123, 37135, 37150, 37163, 37175, 37186, 37198, 37212, 37225, 37238, 37251, 37264, 37278, 37292, 37305, 37317, 37332, 37346, 37360, 37372, 37385, 37397, 37409, 37421, 37433, 37445, 37460, 37470, 37480, 3749

In [93]:
for idx, start_idx in enumerate(start_indices):
    if idx < len(start_indices) - 1:
        end_idx = start_indices[idx + 1]
        df.loc[start_idx:end_idx, 'Person_index'] = idx + 1
    else:
        df.loc[start_idx:, 'Person_index'] = idx + 1

df['Person_index'] = df['Person_index'].astype(int)

In [94]:
df = df[df['Row Type'].notna()]
df.head(40)

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Person_index
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,1
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
7,Iter,5,487,97,593,206,779,800,123,1
8,Average,182,361,741,231,731,493,847,237,1
9,Maximum,276,33,97,154,25,922,9,312,1
10,Std.Dev.,523,1000,34,904,237,600,170,553,1
11,Total,336,-,-,-,-,977,744,652,1
14,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,2
16,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,2
17,Iter,1,702,494,311,492,456,370,150,2
18,Iter,2,929,82,838,421,154,346,227,2
19,Iter,3,763,402,344,951,139,295,285,2
20,Iter,4,469,930,560,395,433,237,429,2
21,Iter,5,688,145,41,188,534,778,152,2
22,Average,66,307,835,615,731,943,460,76,2
23,Maximum,329,402,777,664,98,44,932,409,2
24,Std.Dev.,439,770,222,395,3,97,802,570,2
25,Total,287,-,-,-,-,655,169,620,2
28,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,3
30,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,3
31,Iter,1,618,728,829,925,777,943,412,3
32,Iter,2,191,887,652,255,214,42,343,3
33,Iter,3,288,352,434,960,106,326,797,3
34,Iter,4,443,421,954,550,113,867,705,3
35,Iter,5,452,430,57,115,680,449,146,3
36,Average,769,535,217,840,172,474,424,189,3
37,Maximum,317,573,326,989,867,686,559,169,3
38,Std.Dev.,52,27,49,696,249,886,175,218,3
39,Total,98,-,-,-,-,40,686,585,3
42,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,4
44,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,4
45,Iter,1,372,592,393,453,624,34,334,4
46,Iter,2,546,679,734,612,382,917,920,4
47,Iter,3,2,357,301,139,935,722,996,4
48,Iter,4,474,41,57,934,250,801,389,4
49,Iter,5,715,278,862,460,377,893,94,4

In [95]:
df.drop(df[df['Row Type'].isin(['Average', 'Maximum', 'Std.Dev.', 'Total'])].index, inplace=True )
df.drop(df[df['Row Type'] == 'Row Type'].index, inplace = True)
df.head(40)

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Person_index
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
7,Iter,5,487,97,593,206,779,800,123,1
14,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,2
17,Iter,1,702,494,311,492,456,370,150,2
18,Iter,2,929,82,838,421,154,346,227,2
19,Iter,3,763,402,344,951,139,295,285,2
20,Iter,4,469,930,560,395,433,237,429,2
21,Iter,5,688,145,41,188,534,778,152,2
28,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,3
31,Iter,1,618,728,829,925,777,943,412,3
32,Iter,2,191,887,652,255,214,42,343,3
33,Iter,3,288,352,434,960,106,326,797,3
34,Iter,4,443,421,954,550,113,867,705,3
35,Iter,5,452,430,57,115,680,449,146,3
42,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,4
45,Iter,1,372,592,393,453,624,34,334,4
46,Iter,2,546,679,734,612,382,917,920,4
47,Iter,3,2,357,301,139,935,722,996,4
48,Iter,4,474,41,57,934,250,801,389,4
49,Iter,5,715,278,862,460,377,893,94,4
56,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5
59,Iter,1,146,596,946,165,942,39,715,5
60,Iter,2,452,547,999,827,103,495,340,5
61,Iter,3,506,788,308,197,179,974,44,5
68,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,6
71,Iter,1,504,517,395,953,582,353,603,6
72,Iter,2,24,561,908,650,896,719,714,6
73,Iter,3,201,913,64,351,979,571,235,6
80,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,7
83,Iter,1,779,504,574,5,564,375,604,7
84,Iter,2,713,720,952,72,167,208,174,7
85,Iter,3,677,19,35,976,274,684,586,7
92,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,8
95,Iter,1,682,247,118,790,523,377,969,8
96,Iter,2,943,660,269,898,607,909,504,8
97,Iter,3,717,906,23,752,97,117,329,8

In [96]:
seperated_df = df[df['Row Type'].str.contains('first name:')]
seperated_df = seperated_df[['Row Type', 'Iter Number', 'Power1', 'Person_index']]
seperated_df['Row Type'] = seperated_df['Row Type'].str.split(':').str[1]
seperated_df['Iter Number'] = seperated_df['Iter Number'].str.split(':').str[1]
seperated_df['Power1'] = seperated_df['Power1'].str.split(':').str[1]
seperated_df.rename(columns={'Row Type': 'First name', 'Iter Number' : 'Last Name', 'Power1': 'Date'}, inplace=True)
seperated_df

      First name Last Name          Date  Person_index
0         Person     Human   end of time             1
14        Person     Human   end of time             2
28        Person     Human   end of time             3
42        Person     Human   end of time             4
56        Person     Human   end of time             5
...          ...       ...           ...           ...
76309     Person     Human   end of time          5990
76322     Person     Human   end of time          5991
76336     Person     Human   end of time          5992
76350     Person     Human   end of time          5993
76364     Person     Human   end of time          5994

[5994 rows x 4 columns]

In [97]:
df.drop(df[df['Row Type'].str.contains('first name:')].index, inplace = True)
df

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Person_index
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
7,Iter,5,487,97,593,206,779,800,123,1
...,...,...,...,...,...,...,...,...,...,...
76368,Iter,2,623,2,179,400,34,711,197,5994
76369,Iter,3,624,745,663,239,623,635,371,5994
76370,Iter,4,311,267,247,277,209,622,932,5994
76371,Iter,5,137,717,778,975,207,447,151,5994
76372,Iter,6,879,73,977,680,500,395,863,5994

In [98]:
df = df.merge(seperated_df, how='outer', on = 'Person_index')
new_column_order = ['First name', 'Last Name', 'Person_index', 'Date', 'Row Type', 'Iter Number', 'Power1', 'Speed1', 'Speed2', 'Electricity',
       'Effort', 'Weight', 'Torque']
df = df[new_column_order]

In [100]:
df

,First name,Last Name,Person_index,Date,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,Person,Human,1,end of time,Iter,1,360,108,863,599,680,442,982
1,Person,Human,1,end of time,Iter,2,684,508,613,241,249,758,639
2,Person,Human,1,end of time,Iter,3,365,126,825,407,855,164,86
3,Person,Human,1,end of time,Iter,4,764,594,304,718,278,674,774
4,Person,Human,1,end of time,Iter,5,487,97,593,206,779,800,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22428,Person,Human,5994,end of time,Iter,2,623,2,179,400,34,711,197
22429,Person,Human,5994,end of time,Iter,3,624,745,663,239,623,635,371
22430,Person,Human,5994,end of time,Iter,4,311,267,247,277,209,622,932
22431,Person,Human,5994,end of time,Iter,5,137,717,778,975,207,447,151
22432,Person,Human,5994,end of time,Iter,6,879,73,977,680,500,395,863